services:
  session-upload:
    build:
      context: .
      dockerfile: ./services/session-upload/Dockerfile
    container_name: session-upload
    environment:
      - MINIO_USER=${MINIO_USER}
      - MINIO_PASSWORD=${MINIO_PASSWORD}
      - MINIO_ENDPOINT=minio:9000
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - DD_AGENT_HOST=datadog       # Send traces to the agent container
      - DD_SERVICE=session-upload   # Name of service in DD Dashboard
      - DD_LOGS_INJECTION=true
    ports:
      - 8000:8000 # FastAPI port
    networks:
      - analyzer-network
    labels:
      com.datadoghq.ad.logs: '[{"source": "python", "service": "session-upload"}]'
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_started
  audio-extractor:
    build:
      context: .
      dockerfile: ./services/audio-extractor/Dockerfile
    container_name: audio-extractor
    environment:
      - MINIO_USER=${MINIO_USER}
      - MINIO_PASSWORD=${MINIO_PASSWORD}
      - MINIO_ENDPOINT=minio:9000
      - RABBITMQ_HOST=rabbitmq:5672
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - DD_AGENT_HOST=datadog       # Send traces to the agent container
      - DD_SERVICE=audio-extractor   # Name of service in DD Dashboard
      - DD_LOGS_INJECTION=true
    networks:
      - analyzer-network
    labels:
      com.datadoghq.ad.logs: '[{"source": "python", "service": "audio-extractor"}]'
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_started
      session-upload:
        condition: service_started
  rabbitmq:
    image: rabbitmq:4.2.1-management-alpine
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - 5672:5672 # AMQP port (used by the services)
      - 15672:15672 # Dashboard port
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - analyzer-network
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - 9000:9000 # API port
      - 9001:9001 # Console port
    environment:
      - MINIO_USER=${MINIO_USER}
      - MINIO_PASSWORD=${MINIO_PASSWORD}
    volumes:
      - minio_data:/data
    networks:
      - analyzer-network
  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - 6379:6379 # Redis port
      - 8001:8001 # RedisInsight port
    volumes:
      - redis_data:/data
    networks:
      - analyzer-network
  datadog:
    image: gcr.io/datadoghq/agent:7
    container_name: datadog
    environment:
      - DD_API_KEY=${DD_API_KEY}
      - DD_APM_ENABLED=true
      - DD_LOGS_ENABLED=true
      - DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
      - DD_LOGS_CONFIG_DOCKER_CONTAINER_USE_FILE=true
      - DD_CONTAINER_EXCLUDE=image:datadog/agent:* # to exclude datadog agent from logs collection
      - DD_SITE=datadoghq.eu
      - DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # to collect logs from docker
      - /var/lib/docker/containers:/var/lib/docker/containers:ro #to collect logs from files
      - datadog-run-socket:/opt/datadog-agent/run:rw #to prevent logs from being lost during restarts
    networks:
      - analyzer-network
    labels:
      com.datadoghq.ad.logs: '["<LOGS_CONFIG>"]'
volumes:
  minio_data:
  redis_data:
  datadog-run-socket:
networks:
  analyzer-network:
    driver: bridge